/* You can add global styles to this file, and also import other style files */
body{background-color: #f9f9f9;}
ul{padding: 0;}
li{list-style: none;}
.btn{
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;}
