 <form class="form-horizontal">
    <fieldset>


      <div class="form-group">
        <label class="col-md-2 control-label" for="text-name"> </label>
        <div class="col-md-5">
          <a data-toggle="modal" data-target=".bs-example-modal-lg"><img src="/assets/images/150_150.png"></a>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label" for="text-name">账号</label>
        <div class="col-md-5">
          <input id="text-name" name="text-name" type="text" placeholder="your username " class="form-control input-md">
          <span class="help-block">your new email ID</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="text-input">邮箱</label>
        <div class="col-md-5">
          <input id="text-input" name="text-input" type="text" placeholder="your current email " class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label" for="text-sign">签名</label>
        <div class="col-md-6">
          <input id="text-sign" name="text-sign" type="text" placeholder="your current email " class="form-control input-md">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label" for="selectbasic">set security question</label>
        <div class="col-md-4">
          <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">Question 1</option>
            <option value="2">Question 2</option>
            <option value="3">Question 3</option>
          </select>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-2 control-label" for="singlebutton">view account status</label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-success">view</button>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-2 control-label" for="singlebutton">Remove my account</label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-danger">remove</button>
        </div>
      </div>

      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="col-md-2 control-label" for="checkboxes">Privacy settings</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label for="checkboxes-0">
              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
              1
            </label>
          </div>
          <div class="checkbox">
            <label for="checkboxes-1">
              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
              2
            </label>
          </div>
          <div class="checkbox">
            <label for="checkboxes-2">
              <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
              3
            </label>
          </div>
          <div class="checkbox">
            <label for="checkboxes-3">
              <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
              4
            </label>
          </div>
        </div>
      </div>

      <!-- Select Multiple -->
      <div class="form-group">
        <label class="col-md-2 control-label" for="selectmultiple">Languages</label>
        <div class="col-md-4">
          <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
            <option value="1">Persian</option>
            <option value="2">English</option>
            <option value="3">Arabic</option>
          </select>
        </div>
      </div>

    </fieldset>
  </form>
