.main-nav{background:#c1372b;height:50px;min-height:50px;padding:0;box-shadow:0 2px 5px 0 rgba(0,0,0,0.4);}
.navbar-toggle .icon-bar{background-color:#fff;}
.main-nav li a{color:#fff;}
.main-nav li a:focus,.main-nav .open a:focus{background-color:transparent;box-shadow:none;}
.main-nav li a:hover,.main-nav .open a,.main-nav .open a:hover{color:#fff;background-color:#b03227;box-shadow:0px 0px 1px #f1a49d;}
.navbar-brand{color:#fff;}

