<div class="login-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">注册帐号</h1>
        <div class="account-wall">
          <img class="profile-img" src="/assets/images/photo.png" alt="" />
          <form class="form-signin">
            <input type="text" class="form-control" placeholder="用户名" required autofocus>
            <input type="password" class="form-control in-register" placeholder="密码" required>
            <input type="text" class="form-control last" placeholder="验证码" required>
            <a class="btn btn-lg btn-primary btn-block" routerLink="home" type="submit">注 册</a>
          </form>
        </div>
        <a routerLink="/login" class="text-center new-account">已有账号，立即登录 </a>
      </div>
    </div>
  </div>
</div>
