<div class="post-list-container">
  <div class="row">
    <div class="col-sm-12">
      <!--<div class="post-item-container" *ngFor="let post of postList">-->
        <!--<h4>-->
          <!--<a [routerLink]="['/postdetail',post.postId]">{{post.title}}</a>-->
        <!--</h4>-->
        <!--<p>-->
          <!--{{post.userName}}-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;{{post.postTime}}-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{post.readTimes}}-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-comment" aria-hidden="true"></i>&nbsp;{{post.commentTimes}}-->
        <!--</p>-->
      <!--</div>-->

      <div class="col-md-12 wow fadeIn" *ngFor="let l of list">
        <div class="post">
          <div class="middle-content">
            <div class="entry-meta">
              <ul class="list-inline">
                <li class="post-head"><a><img src="/assets/images/1.jpg"></a></li>
                <li><a>{{l.nick}}</a></li>
                <li><span>{{l.createAt}} </span></li>
                <li><a href="#"><i class="fa fa-thumbs-o-up"></i>3002</a></li>
                <li><a href="#"><i class="fa fa-thumbs-o-down"></i>3</a></li>
                <li><a href="#"><i class="fa fa-star-o"></i>500</a></li>
                <li><a href="#"><i class="fa fa-comment-o"></i>{{l.read}}</a></li>
              </ul>
              <a class="info" [routerLink]="['/detail',l.id]">
                {{l.body}}
              </a>
            </div>

          </div>
        </div>
      </div>

      <pagination [totalItems]="totalItems" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" [firstText]="firstText" [lastText]="lastText" [previousText]="previousText" [nextText]="nextText" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)" class="pagination-sm" ></pagination>
    </div>
  </div>
</div>
